<div class="container">
    <div class="helloDiv">
        <p>
            {{ theMessage }}
        </p>
        <div *ngIf="displayFormInput">
            <div>
                <form>
                    <div class="form-group">
                        <label for="fname"></label>
                        <input #fname name="fname"  type="text" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="lname"></label>
                        <input #lname name="lname"  type="text" placeholder="Last name">
                    </div>   
                    <button (click)="logName(fname.value, lname.value)" > Enter name!</button>
                </form> 
            </div>
        </div>
    </div>

    <div class="clearDiv" *ngIf="displayGDPR">
        <h1>GDPR</h1>
        <p>{{ name }}</p>
        <h2>not you?</h2>
        <button (click)="clearAll()">Erease Me!</button>
    </div>
</div>


<div id="sameDrink" class="selectDrink">
    <app-theusual (drinkaDrink)="whatToDrink($event)" [thedrink]="myDrink"></app-theusual>
</div>

<div id="drinkMeny" class="selectDrink">
    <app-selectbeverage (drinkaDrink)="whatToDrink($event)"></app-selectbeverage>
    <div>

    </div>
</div>


