<app-user></app-user>
<app-theusual></app-theusual>
<app-selectbeverage></app-selectbeverage>
<button [disabled]="isDisabled">Test button</button>
<p>

    User story: new visitor
    Browser loads web page for the first time.
    App: Howdy, stranger. Haven't seen your face around here before. What's your name?
    User: "enters name "Clive Westforest">"
    App: Alright Mr. Westforest, what can I do you for?
    User: "selects a beverage>
    App: One "chosen beverage>, coming right up!
    
    User story: returning visitor
    Browser loads web page (not the first time)
    App: Hello again, Mr. Westforest! The usual?
    App presents a new button: "The usual". The user can still select another beverage from the menu.
    User: "selects the usual or another beverage>
    App: One "chosen beverage>, coming right up!
    
    User story: right to be forgotten
    Available at all times, to all users
    A button is displayed on the page that the visitor can click on to clear his/her information.
    User: "I was never here"
    App: Got it. Who are you again?
</p>
