<div class="container">
    <div class="helloDiv">
        <p *ngIf=' name !== "null null"; then thenBlock else HelloBlock'>
            Hello again, {{ name }} The usual?
        </p>
        
        <ng-template #thenBlock>
            <p>
                Hello again, {{ name }} The usual?
            </p>
            <div id="sameDrink" class="selectDrink">
                <app-theusual (drinkaDrink)="whatToDrink($event)" [thedrink]="myDrink"></app-theusual>
            </div>
        </ng-template>

        <ng-template  #HelloBlock>
            
            <p>
                Howdy, stranger. Haven't seen your face around here before. What's your name?
            </p>

            <div>
                <form>
                    <div class="form-group">
                        <label for="fname"></label>
                        <input #fname name="fname"  type="text" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label for="lname"></label>
                        <input #lname name="lname"  type="text" placeholder="Last name">
                    </div>   
                </form> 
            </div>
        
        <button (click)="logName(fname.value, lname.value)" > Enter name!</button><br><br>
        
        </ng-template>
        <p *ngIf=' myDrink !== ""'>
            One {{ myDrink }}, coming right up!
        </p>
    </div>

    <div class="clearDiv"  *ngIf='name !== "null null"'>
        <h1>GDPR</h1>
        <p>{{ name }}</p>
        <h2>not you?</h2>
        <button (click)="clearAll()">Erease Me!</button>
    </div>
</div>


<div id="drinkMeny" class="selectDrink" *ngIf='name !== "null null"'>
    <app-selectbeverage (drinkaDrink)="whatToDrink($event)"></app-selectbeverage>
    <div>

    </div>
</div>


